@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}


b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.ProfilePic {
  border-radius: 50%;
}


/* ---------------------------------Project Component Css------------------------------------ */


.thumbnail {
display: block;
border: 0;
width: 100%;
height: 250px;
max-width: 100%;
contain: content;
margin-top: 15px;
}



.card {
background: rgb(255,179,0);
background: radial-gradient(circle, rgba(255,179,0,1) 37%, rgba(0,232,255,1) 100%);
border-radius: 15px;
max-height: 550px;
box-sizing: border-box;
margin: .25rem .25em;
width: min-content;
}

.card a {
color: black;
text-decoration: none;
}

.card:hover {
box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
text-align: center;
width: 450px;
color: black;
}

.card-content h3 {
margin-top: 0;
font-weight: bold;
}

.card-content p {
font-size: 80%;
}

/*----------------------------Media Queries--------------------------*/


@media only screen and (max-width: 950px) {

  .cards {
    display: grid !important;
  }
}

/*-------------------Flexbox stuff---------------------*/

.cards {
  display: flex;
  justify-content: center;
}



.centered {
  margin: 0 auto;
  padding: 0 1em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color:rgb(31, 31, 31) !important;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 10px;
  padding: 0;
  width: 40%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  text-align: center;
  caption-side: top;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
   border: 2px solid #ddd;
}


.tableContainer{
  display: flex;
  justify-content: center;
}


/* --------------------------------Download Button Css------------------------------------- */

.download {
  width: 400px;
  height: 75px;
  background: black;

  border-radius: 5px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.download > .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 40%;
}


.dfn {
  top: 35px;
  font-size: 1em;
}

.df{
  justify-content: center;
  padding-bottom: 15px;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

