@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

body {
  font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1;
  font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual;
  letter-spacing: -0.02em;
}


b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-variation-settings: 'wght' 850;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.ProfilePic {
  border-radius: 50%;
}


/* ---------------------------------Project Component Css------------------------------------ */


.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 20px 20px; 
  justify-content: center;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: rgb(255,179,0);
  background: radial-gradient(circle, rgba(255,179,0,1) 37%, rgba(0,232,255,1) 100%);
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0; /* Ensure no extra margin on the card */
}

.card a {
  color: black;
  text-decoration: none;
  margin-top: 0px !important;
}

.card:hover {
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
  text-align: center;
  padding: 20px;
  color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; /* Ensure no extra margin in the content */
}

.card-content h3 {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 80%;
  margin-bottom: 15px;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.github-link img {
  width: 32px;  
  height: 32px;
  margin-right: 8px;
}

.github-link a {
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.github-link a:hover {
  color: #0366d6;
  text-decoration: underline;
}

:root {
  --text-color: black;
  --background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: black;
  }
}

/*----------------------------Media Queries--------------------------*/


/* Responsive layout for smaller screens */
@media only screen and (max-width: 900px) { 
  .cards {
    grid-template-columns: 1fr; /* Switch to single column on smaller screens */
  }
}

/*-------------------Flexbox stuff---------------------*/

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color:rgb(31, 31, 31) !important;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 10px;
  padding: 0;
  width: 40%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  text-align: center;
  caption-side: top;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
   border: 2px solid #ddd;
}


.tableContainer{
  display: flex;
  justify-content: center;
}


/* --------------------------------Download Button Css------------------------------------- */

.download {
  width: 400px;
  height: 75px;
  background: black;

  border-radius: 5px;
  position: absolute;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

.download > .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  font-size: 1em;
  margin-top: 20px;
  margin-left: 40%;
}


.dfn {
  top: 35px;
  font-size: 1em;
}

.df{
  justify-content: center;
  padding-bottom: 15px;
}

.download:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}